# Arquivos de Build
dist/
dist-ssr/
*.local

# Dependências
node_modules/

# Logs e Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache
.vite

# Editor/Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
